<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список дел</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<nav>
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a methods="get" th:href="@{/add_case}">Добавить дело</a></li>
    </ul>
</nav>

<div class="content">
    <h1>Список дел</h1>

    <div class="task-list">
        <h2>Важные дела</h2>
        <ul>
            <li th:each="todo : ${listMatter}">
                <span th:text="${todo.name}">Важное дело</span>
            </li>
        </ul>
    </div>

    <div class="task-list">
        <h2>Простые дела</h2>
        <ul>
            <li th:each="todo : ${listSimple}">
                <span th:text="${todo.name}">Простое дело</span>
            </li>
        </ul>
    </div>

    <div class="task-list">
        <h2>Срочные дела</h2>
        <ul>
            <li th:each="todo : ${listUrgent}">
                <span th:text="${todo.name}">Срочное дело</span>
            </li>
        </ul>
    </div>

</div>

</body>
</html>
